.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 950px;
}

.about-left,
.about-right {
    text-align: justify;
    width: 49%;
}

.about-title,
.about-text {
    padding: 10px;
}
