.contact-data {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    padding-bottom: 150px;
}

.creator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    left: 0;
    width: 100%;
}
