.contact {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-window {
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 450px;
    width: 25%;
    padding: 20px;
    box-shadow: 3px 3px 8px #444444;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-input,
.contact-textarea {
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border-bottom-color 0.3s ease, background-color 0.3s ease;
}

.contact-input:hover,
.contact-textarea:hover {
    border-bottom-color: #8a8a8a;
}

.contact-input:focus,
.contact-textarea:focus {
    border-bottom-color: #fff;
    background-color: #0c0c0c;
}

.contact-textarea {
    min-height: 150px;
    resize: none;
}

.contact-head {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
}

.contact-button {
    padding: 10px;
    color: #ffffff;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #777777;
}

.contact-button:focus {
    background-color: #8a8a8a;
    outline: none;
}

.check-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-checkbox {
    margin-right: 5px;
}
