.navbar {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    z-index: 1000;
    user-select: none;
}

.menulist {
    position: absolute;
    right: 0px;
    top: 35px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.menu {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.menu:hover {
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 0px 20px white;
    transform: scale(1.25);
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.logo::after {
    content: "Go to the GitHub";
    position: absolute;
    bottom: -30px;
    left: 13px;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 7px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    box-shadow: 0px 2px 6px rgb(255, 255, 255, 0.8);
}

.logo:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.logopic {
    position: relative;
    text-align: center;
}

.navbar-button-zone {
    z-index: 1000;
}

.navbar-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: black;
    background-color: #b026ff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 8px white;
    cursor: pointer;
}

.navbar-button-icon {
    font-size: 25px;
    text-shadow: 2px 2px 6px black;
}

@media (max-width: 600px) {
    .menulist {
        position: relative;
        top: 0;
        right: 20px;
        width: 100%;
        height: 50px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        background-color: black;
    }

    .logo::after {
        display: none;
    }

    .logopic {
        width: 80%;
    }

    .menu {
        font-size: 18px;
        width: 80%;
        margin: 10px 0;
        background-color: transparent;
    }

    .navbar-button {
        right: 53px;
    }
}
