.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

.proba1,
.proba2,
.proba3,
.proba4 {
    position: relative;
    display: flex;
    border: 2px purple solid;
    height: 550px;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1;
}

.proba1 {
    transition: transform 0.7s ease;
}

.proba2 {
    transition: transform 0.6s ease;
}

.proba3 {
    transition: transform 0.5s ease;
}

.proba4 {
    transition: transform 0.5s ease;
}

.proba-kartya {
    text-align: center;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.prj-pic {
    display: block;
    margin: 0;
    width: 450px;
}

@media (max-width: 600px) {
    .projects {
        flex-direction: column;
    }

    .proba1,
    .proba2,
    .proba3,
    .proba4 {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .proba-kartya {
        height: auto;
    }

    .prj-pic {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}
