.skills {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.skill-logo {
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 60px;
}
